#root {
  background: url('https://i.pinimg.com/564x/6c/89/ed/6c89ed6d624aa011dc0aa31c0632f7cf.jpg')
    center;
}
.message-list-container {
  overflow-y: auto;
}
.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card {
  height: 68.5vh !important;
}
.animal {
  height: 100%;
  width: 100%;
}
.message-sender {
  color: green;
}
.list-group-item.active {
  background-color: black;
  color: green;
}
.form-control {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-right: 1%;
}
.form-control:focus {
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgb(53, 198, 0);
}
li .dropdown-item:focus {
  background-color: green !important;
  color: yellow !important;
}
li .dropdown-item:hover {
  background-color: green !important;
  color: yellow !important;
}
